/* LAYOUT */
.container-sm {
  max-width: 640px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}

.container-md {
  max-width: 768px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1024px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1280px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}

/* SECTIONS */
.section-sm {
  margin-block-start: 32px;
  margin-block-end: 32px;
}

.section-md {
  margin-block-start: 48px;
  margin-block-end: 48px;
}

.section-lg {
  margin-block-start: 96px;
  margin-block-end: 96px;
}

.section-xl {
  margin-block-start: 144px;
  margin-block-end: 144px;
}

/* GRID */
.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  gap: 10px;
}
.header-grid {
  grid-column: 1 / -1;
  text-align: center;
}
.grid-card {
  max-width: 480px;
  padding: 8px;
}

/* FLEX */
.flex-container {
  display: flex;
}

/* BACKGROUND */
.background-gray {
  background-color: var(--gray-100);
  margin: 0;
  padding-block-start: 48px;
  padding-block-end: 48px;
}

/* CENTER */
.center {
  justify-content: center;
  text-align: center;
}
