.header {
  background-color: var(--gray-100);
}

.header__logo {
  color: var(--gray-900);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 72px;
}

.navbar--links {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0;
  flex-wrap: wrap;
}

.navbar--links .link {
  text-decoration: none;
  color: var(--blue-oxford);
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
}

.navbar--links .link:hover {
  background: #fff;
  color: var(--blue-oxford);
  box-shadow: 0 2px 2px rgba(83, 100, 255, 0.32);
}

.navbar--links .link:focus {
  outline: 2px solid var(--blue-800);
  outline-offset: 2px;
}

.menu-btn {
  color: var(--black);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}
/* QUERIES */

@media (max-width: 940px) {
  .navbar ul {
    position: fixed;
    text-align: center;
    top: 72px;
    left: -100%;
    background-color: var(--black);
    height: 100vh;
    width: 100%;
    display: block;
    margin: 0;
    transition: all 0.4s ease;
  }
  .navbar ul li {
    margin: 32px;
  }
  .navbar--links .link {
    color: white;
  }

  .button--primary {
    /* padding: 0; */
    background-color: var(--black);
    /* width: 70px; */
  }

  .menu-btn {
    display: block;
  }
  #click:checked ~ ul {
    left: 0%;
  }
}
