.section-md .container-grid a {
  text-decoration: none;
  color: inherit;
}

.group-icon svg {
  width: 33px;
  height: 33px;
  background-color: var(--gray-200);
  border-radius: 8px;
  padding: 8px;
}

.grid-card ul {
  display: flex;
  padding: 0;
}

.grid-card ul li {
  margin-inline-end: 8px;
  text-transform: capitalize;
  padding: 2px 10px 2px 10px;
  background-color: var(--blue-100);
  border-radius: 10px;
}

.portafolio-card:hover {
  border-radius: 10px;
  transition: all 0.4s ease;
  transform: scale(1.02);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
